/* || GENERAL STYLES */
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

main {
    flex: auto;
    overflow-y: auto;
}


/* || UTILITIES */
@media screen and (max-width:840px) {
    .header { flex-wrap: wrap;  }
  }


/* || SITEWIDE */
.square {
    height: 200px;
    width: 200px;
    border-style: solid;
    border-width: 4px;
    border-radius: 16px;
    margin: 5px;
}

.section-header {
    background-color: black;
}

.section-information {
    background-color: #F9FAF8;
    text-align: center;
}

.section-quote {
    background-color: #E5E7EB;
    height: 300px;
}

.section-calltoaction {
    background-color: #F9FAF8;
    height: 300px;
}

header, footer{
    background-color: #1f2937;
    color: #f9faf8;
}

.footer {
    height: 100px;
}

/* || Top navbar */
.navbar {
    padding: 10px 100px 10px 100px;
    display: flex;
    justify-content: space-between;
    background: rgba(31, 41, 55, .9);
    position: fixed; /*fixes navbar to top. top, left, bottom needed for flexbox*/
    top: 0;
    left: 0;
    right: 0;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

/* || Header section */
.header {
    margin: 80px 10% 40px 10%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
    box-shadow: 5.0px 10.0px 10.0px hsl(0deg 0% 0% /0.33);
}
.header > * {
    flex-basis: 100%;
}
.header-left {
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    justify-content: space-between
}
.header-left>h1{
    font-size: 48px;
    font-weight: 900;
    margin-top: auto;
    margin-bottom: 0em;
}
.header-left > p {
    margin-top: -5px;
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: auto;
}

.header-left>button{
    width: 150px;
    height: 50px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-style:none;
    border-radius: 10px;
    align-self: center;
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10px;
}
.header-right {
    align-self: center;
}
img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    box-shadow: 0.0px 0.0px 0.0px rgba(255, 255, 255, 0.5);
}

/* || Information section */
.information-squares {
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
}
.squares {
    margin-bottom: auto;
}
.info {
    margin-left: 30px;
    margin-right: 30px;
}

.links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display:flex;
    justify-content: space-between;
}
li {
    margin-left: 25px;
}
a {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}





